.first{
    height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 70, 70);
  margin: 0%;
  }

  .second{
    height: 470px;
    text-align: center;
    border-radius: 5px;
    padding-top: 20px;
    background-color: white;
    width: 450.67px;
    padding-bottom: 12px;
  }

  .sign{
    margin-left: -65%;
    font-size: 30px;
    font-family: Okra, Helvetica, sans-serif;
    font-weight: 300;
    margin-top: -1px;
    color: rgb(97, 97, 97);
  }

  .textbox{
    height: 32px;
    width: 380px;
    font-size: large;
    color: rgb(104, 104, 104);
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 9px;
    margin-bottom: 25px;
    border-radius: 7px;
    border: 1px solid rgb(214, 212, 212);
  }

  .check{
    margin-left: 20px;
    
  }

  .check1{
    color: rgb(141, 140, 140);
  }

  .check2{
    color: rgb(238, 125, 125);
  }

  .last{
    margin-right: 20px;
  }

  .btn3{
    padding: 10px 10px;
    width: 370px;
    font-size: large;
    font-weight: 300;
    margin-top: 17px;
    background-color: rgb(240, 97, 97);
    border-radius: 8px;
    border: 1px solid rgb(240, 97, 97);
    color: white;
    font-family: Okra, Helvetica, sans-serif;
  }

  .paragraph3{
    font-size: 17px;
    font-family: Okra, Helvetica, sans-serif;
    text-align: left;
    margin-left: 24px;
    color: rgb(130, 130, 130);
  }
  
  .create3{
    text-decoration: none;
    color: rgb(234, 126, 126);
  }