/* body{
      overflow-y:scroll;

} */

.background{
  background-image: url('./../Addrestoheader/image/background.webp'); 
  height: 70vh;
  width: 100vw;
  background-size: cover; 
  background-position: center; 
  margin-top: -20px;  
  margin-left: -20px;
 
  
}
.para{
      color: white;
      margin-right: 50px;
      font-size: 100%;
    
}

.zoma{
  color: white;
  margin-left: 230px;
  font-family:sans-serif;
}
.busi{
      color: white;
      margin-left: 230px;
      margin-top: -30px;
    
}
.zomato1{
      margin-left: 900px;
      color: white;
      margin-top: -50px;
      font-size: 20px;
      /* font-family: sans-serif; */
      
}

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
.header-content button {

    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px 10px;
  } 

  
  .A{
    background-color:rgb(50, 127, 235);
    font-family: sans-serif;
    width:290px;
    height: 41px;
    margin-top: 50px;
    margin-left: 180px;
        
  }
  .A:hover{
    transition: scale(0.6);
    background-color: rgb(65, 151, 227);
    
    
  }
  .B{
    background-color: antiquewhite;
    margin-left: 20px;
    width: 290px;
    margin-top: 90px;

  }

  .button{
    display: flex;
    /* border-radius: 10px 0px 10px 10px; */
    margin-right: 90px;
    /* margin-top: 20px; */
  }
  

  .need{
    color: white;
    margin-right: 430px;
  }
  .log{
    width: 60px;
    margin-left: 1100px;
    margin-top: -90px; 
    /* margin-right: 100px; */
  }

  .register{
    margin-top: 250px;
  }
