.first{
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 70, 70);
  margin: 0%;
}

.slt{
  height: 29px;
  padding: 5px 10px;
  font-size: large;
  border-radius: 8px;
  margin-left: -70px;
  border: 1px solid white;
  /* padding-left: px; */
}

.opt{
  height: 32px;
  margin: 0px 20px;
  padding: 5px 0px;
  border-radius: 7px;
  border: 1px solid rgb(208, 207, 207);
}

.log{
  margin-left: -70%;
  font-size: 30px;
  font-family: Okra, Helvetica, sans-serif;
  font-weight: 300;
  margin-top: -1px;
  color: rgb(97, 97, 97);

}

.Container{
  height: 470px;
  text-align: center;
  border-radius: 5px;
  padding-top: 20px;
  background-color: rgb(245, 239, 230);
  width: 478.67px;
  margin-top: 10px;
}

.inputBox {
  height: 28px;
  width: 250px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid white;
  padding-left: 8px;
  background-color: rgb(245, 239, 230);
  color: rgb(97, 97, 97);
}

.btn{
  padding: 10px 10px;
  width: 440px;
  font-size: large;
  font-weight: 300;
  background-color: rgb(240, 97, 97);
  border-radius: 8px;
  border: 1px solid rgb(240, 97, 97);
  color: white;
  font-family: Okra, Helvetica, sans-serif;
}

.btn:hover{
  background-color: rgb(242, 76, 76);
}

.or{
  font-size: 20px;
  color: rgb(97, 97, 97);

}

.mailimg{
  height: 22px;
  width: 20px;
  margin-bottom: -6px;
}

.googleimg{
  width: 20px;
  margin-bottom: -6px;
}

.mailbox{
  height: 32px;
  margin: 0px 20px 30px 20px;
  padding-top: 12px;
  border-radius: 7px;
  border: 1px solid rgb(194, 192, 192);
}

.email{
  text-decoration: none;
  color: rgb(97, 97, 97);
  font-size: medium;
  font-weight: 300;
  font-family: Okra, Helvetica, sans-serif;
  margin-top: 5px;
}

.signgoogle{
  margin-top: 20px;
}

.paragraph{
  font-size: 18px;
  font-family: Okra, Helvetica, sans-serif;
  text-align: left;
  margin-left: 24px;
  margin-top: 45px;
  color: rgb(97, 97, 97);
}

.create{
  text-decoration: none;
  color: rgb(234, 111, 111);
  
}