.container1{
	font-size: 10px;
}
.carouseldiv {
	margin: 20px 0;
}

.parent {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0 20px;
}

.category-h {
	font-style: oblique;
	font-size: 25px;
	font-weight: 600;
	padding-left: 3em;
}



.icon1 {
	/* margin: 15px 0 15px 0 ; */
	border-radius: 5px;
	width: 240px;
	/* height: 310px; */
	background-color: rgb(243, 242, 242);
}

.icon {
	margin: 15px 0 0 0;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	
}

.icon:hover {

	box-shadow: -10px 0px 13px -7px #000000a1, 10px 0px 13px -7px #00000099, 5px 5px 15px 5px rgba(0, 0, 0, 0);

	transition: 0.3s;
}

.photo {
        width: 100%;
        height: 160px;
        object-fit: cover;
        object-position: center;
    
}

.name {
	font-size: 1.9em;
	font-weight: 600;
	text-align: left;
	display: block;
	margin: 010px 10px 10px;
}

.pname {
	font-size: 1.3em;
	text-align: left;
	display: block;
	margin: 010px 10px 10px;
}

.details {
	display: flex;
	flex-direction: column;
}

.button {
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	border: none;
	border-radius: 10px;
	color: rgb(0, 0, 0);
	padding: 9px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	display: block;
	margin: 010px auto 15px;
}

.button:hover {
	background-image: linear-gradient(62deg, #70b3f5 0%, #c595f2 100%);
	transform: 1s;
}

