/* Cards section */

.container_cards{
	width: 100%;
	display: flex;
	justify-content: center;
}

.div3{
	width: 30%;
	border-radius: 20px;
	overflow: hidden;
	margin: 0 10px 0 0;
	font-size: 1.6rem
}

.div3:hover{
	transition: 0.2s ;
	transform: scale(1.01);
	border: 1px solid grey;
	cursor: pointer;
}

.div3img{
	width: 100%;
	height: 160px;
	object-fit: cover;
	object-position: center;
}

.divcontent{
	padding: 10px 20px 16px 20px;
}

.divcontent h2{
	font-family: Okra, Helvetica, sans-serif;
	text-align: left;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3.2rem;
}

.divcontent p{
	font-size: 12.5px;
	font-weight: 400;	
}