/* Hero section */

.hero__section{
	background-image: url('./Images/heroSectionBackground.png');
	height: 400px;
	background-size: cover;
	background-position: center;
	position: relative;
}

.navbar{
	display: flex;
	height: 40px;
	align-items: center;
	justify-content: space-between;
	padding-left: 80px;	
	padding-right: 60px;
	font-size: 17px;
}

.navbar a{
	color: white;
}

.navbar a:hover{
	transform: scale(1.02);
}

.navbar__menu_container{
	display: flex;
	gap: 22px;
}

.navbar__menu_container .user_icon{
	display: flex;
	height: 25px;
	width: 25px;
	border: 2px solid white;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	display: none;
}


.hero__section_container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px;
	height: calc(400px - 40px);
}

.hero__section_logo{
	height: 116px;
    width: 388px;
}


.hero__section_heading{
	color: white;
    word-spacing: 3px;
    font-size: 30px;
    font-weight: 380;
}

.hero__section_container_input{
	background: white;
	border-radius: 10px;
	width: 45%;
	padding: 7px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

#location_icon{
	color: rgb(239,79,95);
	margin-top: -4px;
}

#search_icon{
	color: rgb(239,79,95);
	margin-right: 3px;
}

.hero__section_input_location, .hero__section_input_search{
	border: none;
	padding-top: 4px;
	padding-bottom: 4px;
}


.hero__section_input_location{
	width: 35%;
	border-right: 2px solid #C0C0C0;
	color: gray;
	font-size: 12.9px;
}

.hero__section_input_search{
	width: 65%;
}