.Navabar{
    font-family: Okra, Helvetica, sans-serif;

}
.nav-item{
 font-size: 20px;
    
}
.navbar-nav{
   
}
.navbar-brand{
    
}
.logo{
    background-color: rgb(10, 9, 9);
    height: 30px;
    margin-left: 300px;

}