.features-container {
    background-color: #fff;
    padding: 40px;
   height: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 50px auto;
    text-align: left;
    margin-right: -90px;
    margin-left: -10px;
  
    
   
  }
  
  .features-container h2 {
    margin-top: 0;
    color: #333;
  }
  
  .features-container p {
    color: #777;
  }
  
  .feature {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .feature-icon {
    background-color: #eee;
    padding: 10px;
    border-radius: 50%; 
    font-weight: bold;
    margin-right: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  
  .feature-text {
    flex-grow: 1;
  }
  
  .feature-text h3 {
    margin: 0;
    color: #333;
  }
  
  .feature-text p {
    margin: 5px 0 0;
    color: #777;
  }
  
  .feature-image {
    text-align: center;
    /* margin-top: 40px; */
    display: inline-block;
  }
  
  .feature-image img {
    max-width: 600px;
    height: 110px; 
    margin-left: 700%;
    margin-top: -170px;
    padding: -10px;
    padding-bottom: 90px;
  }

 .divya{
          background-color: white;
          margin-left: 90px;
          margin-top: 50px;
 }

 .great{

      margin-top: -200px;
      color: white;
      margin-left: 20px;
 }
 .btn{

        border-radius: 10px 10px;
        border: 1px solid  rgb(52, 157, 228);
        height: 40px;
        width: 120px;
        margin-left: 10px;
        background-color: rgb(52, 157, 228);
        color: white  ;
 }

 .qa-section{


              margin-top: 100px;
              font-size: 20px;
              text-align: center;
 }
 .ask{
        border: 1px solid black;
        width: 900px;
        margin-top: 20px;
        margin-left: 150px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       border: 1px solid white;
      }
    .asks{
            margin-left: 10px;
            color: rgb(118, 115, 115);
    }
 