.corpo{
    margin-left: 180px;
    margin-top: 50px;
    font-size: 40px;
}
.may{
    font-size: 35px;
}
.corpo1{
    margin-left: 170px;
}
.read{
    color: red;
}
.btn{
    height: 43px;
    width: 230px;
    border: 1px solid rgb(198, 193, 193);
    margin-left: 170px;
    margin-top: 30px;
    background-color: rgb(248, 86, 86);
    font-size: 20px;
    color: white;
}
.block{
    margin-left: 170px;
    font-size: 40px;
    margin-top: 50px;
}